body {
    background-image:url(../img/DallasHall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	opacity: 50%;
}

#form{
	position: absolute;
	background: lightblue;
	padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    border-radius: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);	
    font-weight: bold;
    text-align: left;
    font-size: 110%;	
    width:15.5em;
}


input {
	width: 20em;
	float: right;
	text-align: left;
	margin-right: .25em;
	margin-bottom: .5em;
	display: inline-block
}

input[type=text] {
	text-align: left;
	margin-top: .5em;
}

/*input[type=file] {
	width: 20em;
	margin-right: .5em;
	margin-bottom: .5em;
	font-weight: bold;
}*/

input[type=submit] {
	width: 20em;
	text-align: center;
	margin-top: .5em;
}
